{% extends 'layout/base.html' %} {% set title = 'Tambah Mahasiswa' %} {% set
page_active = 'mahasiswa' %} {% block _content %}
<h1>Tambah Mahasiswa</h1>

<form action="" method="post" enctype="multipart/form-data">
  <div class="form-group mb-3">
    <label for="nama_lengkap" class="form-label"><b>Nama lengkap</b></label>
    <input
      class="form-control"
      type="text"
      id="nama_lengkap"
      placeholder="Masukkan Nama Lengkap"
      required
      name="nama_lengkap"
    />
  </div>
  <div class="form-group mb-3">
    <label for="nim" class="form-label"><b>NIM</b></label>
    <input
      class="form-control"
      type="text"
      id="nim"
      placeholder="Masukkan NIM"
      required
      name="nim"
    />
  </div>
  <div class="form-group mb-3">
    <label for="tanggal_lahir" class="form-label"><b>Tanggal Lahir</b></label>
    <input
      class="form-control"
      type="date"
      id="tanggal_lahir"
      required
      name="tanggal_lahir"
    />
  </div>
  <div class="form-group mb-3">
    <label for="jurusan" class="form-label"><b>Jurusan</b></label>
    <select class="form-select" id="jurusan" name="jurusan" required>
      <option value="">--Pilih Satu--</option>
      <option value="Teknik Informatika">Teknik Informatika</option>
      <option value="Sistem Informasi">Sistem Informasi</option>
      <option value="Security Engginer">Security Engginer</option>
      <option value="Data Science">Data Science</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="image" class="form-label"><b>Upload foto profil</b></label>
    <input
      class="form-control"
      type="file"
      id="image"
      name="image"
    />

  <button type="submit" class="btn btn-primary w-100 mt-3">Tambah Mahasiswa</button>
</form>

{% endblock %}
